<h1>Tweet aquarium</h1>

<div id="main"></div>


<script type="text/template" id="fishTemplate">
  <div data-dir="right" class="fishContainer">
    <div class="tweet"><%%= tweet_text %></div>
    <img class="fish" src="assets/fish2.gif" alt="">
  </div>
</script>
